.btn-menu,
.btn-category {
  color: $textColor;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
  &:active {
    color: #fff;
    text-decoration: underline;
  }
}

.btn-category.btn-category-active,
.btn-menu.btn-menu-active {
  color: #fff;
  text-decoration: underline;
}
