@import 'variables';

.main {
  /* ==================== Contact ==================== */
  .contact-container {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;

    .contact-title {
      font-family: 'Monoton', cursive;
      font-size: 48px;
      font-weight: 100;
      margin-bottom: 8px;
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }

    .send-message {
      font-size: 18px;
      margin-bottom: 32px;
    }

    .contact-form {
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
      width: 896px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      label {
        font-size: 20px;
        color: #fff;
      }
      input,
      textarea {
        font-family: 'Righteous', cursive;
        font-weight: 100;
        font-size: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 8px 16px;
        border: none;
        outline: none;
        background: #d9d9d9;
      }
      input::placeholder,
      textarea::placeholder {
        color: #8d8d8d;
      }
      textarea::-webkit-scrollbar-corner {
        display: none;
      }
      textarea::-webkit-resizer {
        border-radius: 0 0 10px 0;
        -webkit-border-radius: 0 0 10px 0;
        -moz-border-radius: 0 0 10px 0;
        -ms-border-radius: 0 0 10px 0;
        -o-border-radius: 0 0 10px 0;
        background: #d9d9d9;
      }
      textarea::-webkit-scrollbar {
        width: 10px;
        height: 90%;
        background: #d9d9d9;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
      textarea::-webkit-scrollbar-track {
        background: #cfcfcf;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }
      textarea::-webkit-scrollbar-thumb {
        background: $scrollGradient;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      .input-name,
      .input-email,
      .input-message {
        width: 436px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      .input-message {
        grid-column: span 2;
        textarea {
          min-width: 896px;
          max-width: 896px;
          min-height: 256px;
          max-height: 256px;
        }
      }

      .error-name,
      .error-email {
        display: none;
        font-size: 18px;
        margin: 0;
      }
      .error-message {
        display: none;
        grid-column: span 2;
        font-size: 18px;
        margin: 0;
      }

      .btn-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 16px auto;
        width: 232px;
        height: 48px;
        grid-column: span 2;
        background: #c8b160;
        color: #424242;
        font-size: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .btn-submit:hover {
        background: $accentColor;
      }
    }

    .contact-popup {
      position: absolute;
      top: auto;
      left: auto;
      width: 30%;
      height: 25%;
      padding: 32px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background: #d9d9d9;
      box-shadow: 0 4px 20px rgba($color: #000, $alpha: 0.2);
      p {
        color: $primaryColor;
        font-size: 24px;
      }
      i {
        position: absolute;
        bottom: 24px;
        left: calc(50% - 24px);
        color: #298a29;
        font-size: 48px;
      }
    }
    .contact-popup-error {
      position: absolute;
      top: auto;
      left: auto;
      width: 30%;
      height: 25%;
      padding: 32px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background: #d9d9d9;
      box-shadow: 0 4px 20px rgba($color: #000, $alpha: 0.2);
      p {
        color: $primaryColor;
        font-size: 24px;
      }
      i {
        position: absolute;
        bottom: 24px;
        left: calc(50% - 24px);
        color: #d02215;
        font-size: 48px;
      }
    }
  }
}
