@import 'variables';

/* ==================== Footer ==================== */
footer {
  margin: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #e1e1e1;
  transition: $mainTransition;
  -webkit-transition: $mainTransition;
  -moz-transition: $mainTransition;
  -ms-transition: $mainTransition;
  -o-transition: $mainTransition;

  .my-logo {
    height: 30px;
  }

  .socials {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .portfolio {
      cursor: pointer;
    }
    .social {
      img,
      svg {
        fill: #e1e1e1;
        height: 30px;

        g {
          fill: #e1e1e1;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
