@import 'variables';

/* ==================== Footer ==================== */
footer {
  margin: 0 16px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  color: #e1e1e1;
  transition: $mainTransition;
  -webkit-transition: $mainTransition;
  -moz-transition: $mainTransition;
  -ms-transition: $mainTransition;
  -o-transition: $mainTransition;

  .my-logo {
    height: 20px;
  }
}
