@import 'variables';

/* ======================================== 
 ======================================== 
            Media Queries
 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 
 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

/* ==================== 1450px width ==================== */

@media screen and (max-width: 1450px) {
  .main {
    .galaxy {
      width: 60%;
    }

    .trabajos-container {
      .trabajos-programacion-container,
      .trabajos-diseno-container {
        .trabajos-programacion-row,
        .trabajos-diseno-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          .trabajo {
            img {
              width: 45vw;
              margin-bottom: 0;
            }
            p {
              font-size: 16px;
            }
          }
        }
        h2 {
          font-size: 28px;
        }
      }
    }

    .contenido-central {
      .skills-container {
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

/* ==================== 1200px width ==================== */

@media screen and (max-width: 1250px) {
  .main {
    .title-text {
      font-size: 44px;
    }
    .galaxy {
      width: 70%;
    }

    .tarjeta {
      width: 50vw;
      height: 85vh;
    }

    .contenido-central {
      .bio {
        font-size: 16px;
      }
      .skills-container {
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

/* ==================== 1000px width ==================== */

@media screen and (max-width: 1100px) {
  .main {
    .galaxy {
      width: 60%;
    }
    .tarjeta {
      width: 60vw;
      height: 82vh;
    }

    .contenido-central {
      .bio {
        font-size: 14px;
      }
      .skills-container {
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

/* ==================== 850px width ==================== */

@media screen and (max-width: 850px) {
  header {
    nav {
      margin-right: 20px;
      .desktop-menu {
        display: none;
      }
      .mobile-menu {
        display: block;
        .mobile-menu-button {
          display: block;
        }
        .mobile-menu-items {
          display: none;
        }
      }
    }
  }

  .main {
    .galaxy {
      width: 80%;
    }

    .title-text {
      font-size: 40px;
    }
    .welcome {
      left: 40px;
    }
    .universe {
      right: 40px;
    }

    .trabajos-container {
      .trabajos-programacion-container,
      .trabajos-diseno-container {
        .trabajos-programacion-row,
        .trabajos-diseno-row {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
          .trabajo {
            img {
              width: 85vw;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .tarjeta {
      width: 70vw;
      height: 77vh;
      font-size: 16px;
      h3 {
        font-size: 18px;
      }

      .tarjeta-contenido {
        .fotos-tarjeta {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 90%;
          }
        }

        .logos-tiendas {
          img {
            height: 40px;
          }
        }
      }
    }

    .contenido-central {
      display: flex;
      flex-direction: column;
      .bio {
        width: 90%;
        font-size: 14px;
        margin-bottom: 40px;
      }
      .skills-container {
        gap: 20px;
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
      .foto-start {
        display: block;
      }
      .foto-middle {
        display: none;
      }
    }
  }

  footer {
    p {
      font-size: 12px;
    }
  }
}

/* ==================== 650px width ==================== */
@media screen and (max-width: 650px) {
  .main {
    .title-text {
      font-size: 32px;
    }
    .tarjeta {
      .tarjeta-contenido {
        .fotos-tarjeta {
          img {
            width: 110%;
          }
        }
      }
    }

    .contenido-central {
      .skills-container {
        .skills {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }
  }
}

/* ==================== 450px width ==================== */

@media screen and (max-width: 450px) {
  ::-webkit-scrollbar {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  header {
    nav {
      .mobile-menu {
        .mobile-menu-items {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .main {
    .galaxy {
      width: 90%;
    }
    .title-text {
      font-size: 24px;
    }

    .contenido-central {
      .skills-container {
        .skills {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  footer {
    p {
      font-size: 10px;
    }
  }
}
