@import 'variables';

/* ======================================== 
 ======================================== 
            Media Queries
 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 
 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */

/* ==================== 1450px width ==================== */

@media screen and (max-width: 1450px) {
  .main {
    // Home
    .galaxy {
      width: 60%;
    }

    // Projects
    .trabajos-container {
      height: auto;
      .trabajos-programacion-container,
      .trabajos-diseno-container {
        .trabajos-programacion-row,
        .trabajos-diseno-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          .trabajo {
            img {
              width: 45vw;
              margin-bottom: 0;
            }
            p {
              font-size: 16px;
            }
          }
        }
        h2 {
          font-size: 28px;
        }
      }
    }

    // About
    .contenido-central {
      .skills-container {
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

/* ==================== 1250px width ==================== */

@media screen and (max-width: 1250px) {
  .main {
    // Home
    .title-text {
      font-size: 44px;
    }
    .galaxy {
      width: 70%;
    }

    // Projects
    .tarjeta {
      width: 50vw;
      height: 85vh;
    }

    // About
    .contenido-central {
      .bio {
        font-size: 16px;
      }
      .skills-container {
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

/* ==================== 1150px width ==================== */

@media screen and (max-width: 1150px) {
  .main {
    .contact-container {
      .contact-popup {
        width: 40%;
      }
    }
  }
}

/* ==================== 1100px width ==================== */

@media screen and (max-width: 1100px) {
  .main {
    // Home
    .galaxy {
      width: 60%;
    }
    .tarjeta {
      width: 60vw;
      height: 82vh;
    }

    // About
    .contenido-central {
      height: auto;
      display: flex;
      flex-direction: column;
      .bio {
        width: auto;
        font-size: 14px;
        margin-bottom: 40px;
      }
      .skills-container {
        width: auto;
        gap: 20px;
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
      .foto-start {
        display: block;
      }
      .foto-middle {
        display: none;
      }
    }
  }
}

/* ==================== 900px width ==================== */

@media screen and (max-width: 900px) {
  .main {
    .contact-container {
      .contact-popup {
        width: 50%;
      }
    }
  }
}
/* ==================== 950px width ==================== */

@media screen and (max-width: 950px) {
  .main {
    // Contact
    .contact-container {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .contact-form {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr;

        .input-name,
        .input-email {
          width: auto;
          grid-column: span 2;
        }
        .input-message {
          width: auto;
          grid-column: span 2;
          textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 256px;
            max-height: 256px;
          }
        }
      }
    }
  }
}

/* ==================== 850px width ==================== */

@media screen and (max-width: 850px) {
  header {
    nav {
      .desktop-menu {
        display: none;
      }
      .mobile-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .mobile-menu-button {
          display: block;
        }
        .mobile-menu-items {
          display: none;
        }
      }
    }
  }

  .main {
    // Home
    .galaxy-title-container {
      .galaxy {
        width: 80%;
      }

      .title-text {
        font-size: 20px;
      }
    }

    // Projects
    .trabajos-container {
      .trabajos-programacion-container,
      .trabajos-diseno-container {
        .trabajos-programacion-row,
        .trabajos-diseno-row {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
          .trabajo {
            img {
              width: 85vw;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .tarjeta {
      width: 70vw;
      height: 77vh;
      font-size: 16px;
      h3 {
        font-size: 18px;
      }

      .tarjeta-contenido {
        .fotos-tarjeta {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 90%;
          }
        }

        .logos-tiendas {
          img {
            height: 40px;
          }
        }
      }
    }

    // About
    .contenido-central {
      display: flex;
      flex-direction: column;
      .bio {
        width: 90%;
        font-size: 14px;
        margin-bottom: 40px;
      }
      .skills-container {
        gap: 20px;
        .skills {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          img {
            width: 50px;
            height: 50px;
          }
        }
      }
      .foto-start {
        display: block;
      }
      .foto-middle {
        display: none;
      }
    }
  }

  footer {
    p {
      font-size: 12px;
    }

    .my-logo {
      display: none;
    }
  }
}

/* ==================== 750px width ==================== */
@media screen and (max-width: 750px) {
  header {
    nav {
      .mobile-menu {
        .mobile-menu-items {
          width: 20%;
        }
      }
    }
  }
}

/* ==================== 700px width ==================== */
@media screen and (max-width: 700px) {
  .main {
    .contact-container {
      .contact-popup {
        width: 60%;
      }
    }
  }
}

/* ==================== 650px width ==================== */
@media screen and (max-width: 650px) {
  header {
    nav {
      .mobile-menu {
        .mobile-menu-items {
          width: 24%;
        }
      }
    }
  }

  .main {
    // Home
    .title-text {
      font-size: 32px;
    }

    // Projects
    .tarjeta {
      .tarjeta-contenido {
        .fotos-tarjeta {
          img {
            width: 110%;
          }
        }
      }
    }

    // About
    .contenido-central {
      .skills-container {
        .skills {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }

    .contact-container {
      .contact-title {
        font-size: 32px;
      }
      p {
        font-size: 16px;
        margin-bottom: 16px;
      }
      .contact-form {
        label {
          font-size: 16px;
        }
        input::placeholder,
        textarea::placeholder {
          font-size: 16px;
        }
        .btn-submit {
          font-size: 16px;
        }
      }

      .contact-popup {
        p {
          font-size: 20px;
        }
      }
    }
  }
}

/* ==================== 550px width ==================== */

@media screen and (max-width: 550px) {
  header {
    nav {
      .mobile-menu {
        .mobile-menu-items {
          width: 28%;
        }
      }
    }
  }

  .main {
    // Link tree
    .links-container {
      .title {
        margin-left: 0;
        text-align: center;
        font-size: 40px;
      }
      .links {
        width: 100%;
        padding: 24px;
        gap: 48px;
        font-size: 16px;
        .link {
          i {
            font-size: 18px;
            color: #fff;
          }
          .fa-instagram {
            font-size: 22px;
          }
        }
      }
    }
  }
}

/* ==================== 450px width ==================== */

@media screen and (max-width: 450px) {
  ::-webkit-scrollbar {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  header {
    nav {
      .mobile-menu {
        .mobile-menu-items {
          width: 32%;
          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .main {
    // Home
    .galaxy {
      width: 90%;
    }
    .title-text {
      font-size: 24px;
    }

    // About
    .contenido-central {
      .skills-container {
        .skills {
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    // Contact
    .contact-container {
      p {
        font-size: 12px;
      }

      .contact-form {
        label {
          font-size: px;
        }
        input,
        textarea {
          font-size: 16px;
        }
      }

      .contact-popup {
        height: 20%;
        p {
          font-size: 16px;
        }
        i {
          left: calc(50% - 16px);
          font-size: 32px;
        }
      }
    }
  }

  footer {
    p {
      font-size: 10px;
    }
  }
}
