@import 'variables';

/* ==================== 850px width ==================== */

@media screen and (max-width: 721px) {
  header {
    nav {
      .menus {
        .desktop-menu {
          display: none;
        }

        .mobile-menu {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .mobile-menu-button {
            display: block;
          }
        }

        .socials-desktop {
          display: none;
        }
        .socials-mobile {
          list-style: none;
          display: flex;
          flex-direction: row;
          gap: 16px;
        }
      }
    }
  }
}
