@import 'variables';

/* ==================== Main ==================== */

.main {
  margin: 64px 20px 0 20px;
  font-family: 'Monoton', cursive;
  color: $textColor;
  font-size: 24px;
  letter-spacing: 1px;
  /* ==================== Home ==================== */
  .galaxy-title-container {
    height: 84vh;
    position: relative;
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .title-text {
      position: absolute;
      font-size: 56px;
      font-weight: 100;
      word-spacing: 10px;
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }
    .welcome {
      left: 0;
    }
    .universe {
      bottom: 0;
      right: 0;
    }

    // Imagen
    .galaxy {
      width: 50%;
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }
  }

  /* ==================== Projects ==================== */
  .trabajos-container {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
    font-family: 'Righteous', cursive;
    color: #fff;
    .trabajos-programacion-container,
    .trabajos-diseno-container {
      h2 {
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 20px;
      }

      .trabajos-programacion-row,
      .trabajos-diseno-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        margin-bottom: 24px;
      }

      .trabajo {
        cursor: pointer;
        position: relative;
        img {
          width: 22.5vw;
        }
        p {
          color: #e1e1e1;
          margin: 8px 0;
        }
      }
      .trabajo:hover {
        .blur-mask {
          width: 100%;
          height: 83.25%;
          position: absolute;
          top: 0;
          left: 0;
          background: #4b4b4b1a;
          border-radius: 4%;
          -webkit-border-radius: 4%;
          -moz-border-radius: 4%;
          -ms-border-radius: 4%;
          -o-border-radius: 4%;
          filter: blur(10px);
          -webkit-filter: blur(10px);
        }
      }
    }
  }

  /* ==================== Tarjeta ==================== */
  .tarjeta {
    overflow: auto;
    display: none;
    position: fixed;
    top: auto;
    left: auto;
    width: 45vw;
    height: 90vh;
    padding: 24px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: $bgGradient;
    color: #cfcfcf;
    box-shadow: 0 4px 40px rgba(255, 255, 255, 0.05);
    font-size: 16px;
    h3 {
      color: #e1e1e1;
      font-weight: 500;
      margin-bottom: 32px;
    }

    .tarjeta-header {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      .tarjeta-close-btn {
        color: #e1e1e1;
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .tarjeta-contenido {
      margin: 24px 0;
      display: flex;
      flex-direction: column;
      gap: 6vh;

      .fotos-tarjeta {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80%;
        }
      }

      .logos-tiendas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 64px;
        img {
          height: 50px;
        }
      }
    }
  }

  /* ==================== About ==================== */
  .contenido-central {
    height: 80vh;
    width: 100%;
    margin: 0 0 64px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .bio {
      display: inline-block;
      width: 30%;
      font-family: 'Righteous', cursive;
      font-size: 18px;
    }

    .skills-container {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        img {
          height: 75px;
          width: 75px;
        }
      }
    }

    .foto-start {
      display: none;
      margin-top: 32px;
      width: 70vw;
    }
    .foto-middle {
      margin-top: 64px;
      width: 40%;
    }
  }
  // end
}
