@import 'variables';
@import 'index';
@import 'projects';
@import 'about';
@import 'contact';
@import 'link-tree';

.main {
  margin: 64px 20px 0 20px;
  font-family: 'Monoton', cursive;
  color: $textColor;
  font-size: 24px;
  letter-spacing: 1px;
}
