$textColor: #b4b4b4;
$bgGradient: linear-gradient(
  to bottom left,
  #314546 0%,
  #3f5e60 50%,
  rgba(#314546, 0.25) 100%
);
$scrollGradient: linear-gradient(to bottom, #314546 0%, #3f5e60 100%);
$mainTransition: all 0.5s ease-in-out;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $scrollGradient;
  // background: $scrollGradient;
}
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  background: url('/assets/img/fondo.svg') no-repeat center center fixed;
  // background: $bgGradient no-repeat center center fixed;
  font-size: 16px;
  font-weight: 100;
}

/* ==================== Header ==================== */

header {
  width: 100%;
  nav {
    margin: 20px 40px 0 0;
    ul {
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
      list-style: none;
      gap: 40px;
      li {
        .current_page {
          cursor: default;
          color: #fff;
        }
        .current_page:hover {
          text-decoration: none;
        }
        a {
          font-size: 20px;
          text-decoration: none;
          color: $textColor;
          &:hover {
            text-decoration: underline;
            color: #fff;
          }
          &:active {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* ==================== Main ==================== */

.main {
  margin: 20px 20px;
  font-family: 'Monoton', cursive;
  color: $textColor;
  font-size: 24px;
  letter-spacing: 1px;
  .galaxy-title-container {
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-text {
    font-size: 64px;
    font-weight: 100;
    transition: $mainTransition;
    -webkit-transition: $mainTransition;
    -moz-transition: $mainTransition;
    -ms-transition: $mainTransition;
    -o-transition: $mainTransition;
  }

  .welcome {
    position: absolute;
    top: 80px;
    left: 80px;
  }
  .universe {
    position: absolute;
    right: 80px;
    bottom: 40px;
  }

  .galaxy {
    width: 50%;
    transition: $mainTransition;
    -webkit-transition: $mainTransition;
    -moz-transition: $mainTransition;
    -ms-transition: $mainTransition;
    -o-transition: $mainTransition;
  }

  .trabajos-container {
    margin-bottom: 40px;
    font-family: 'Righteous', cursive;
    color: #fff;
    .trabajos-programacion-container,
    .trabajos-diseno-container {
      .trabajo {
        img {
          width: 22.5vw;
          cursor: pointer;
        }
        p {
          color: #e1e1e1;
          margin: 8px 0;
        }
      }
      .trabajos-programacion-row,
      .trabajos-diseno-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        margin-bottom: 32px;
      }
      h2 {
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 20px;
      }
    }
  }
}

/* ==================== Footer ==================== */
footer {
  color: #e1e1e1;
  transition: $mainTransition;
  -webkit-transition: $mainTransition;
  -moz-transition: $mainTransition;
  -ms-transition: $mainTransition;
  -o-transition: $mainTransition;
  p {
    margin-left: 20px;
    margin-bottom: 16px;
  }
}

/* ======================================== 
 ======================================== 
            Media Queries
 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ 
 ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ */
@media screen and (max-width: 1200px) {
  .main {
    .title-text {
      font-size: 44px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .main {
    .trabajos-container {
      .trabajos-programacion-container,
      .trabajos-diseno-container {
        .trabajos-programacion-row,
        .trabajos-diseno-row {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          .trabajo {
            img {
              width: 45vw;
              margin-bottom: 0;
            }
            p {
              font-size: 16px;
            }
          }
        }
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}

@media screen and (max-height: 1000px) {
  .main {
    .title-text {
      font-size: 44px;
    }
  }
}

@media screen and (max-height: 850px) {
  .main {
    .title-text {
      font-size: 54px;
    }
    .galaxy {
      width: 40%;
    }
  }
}

@media screen and (max-height: 650px) {
  .main {
    .title-text {
      font-size: 44px;
    }
    .galaxy {
      width: 30%;
    }
  }
}

@media screen and (max-height: 550px) {
  header {
    nav {
      ul {
        li {
          a {
            font-size: 16px;
            transition: $mainTransition;
            -webkit-transition: $mainTransition;
            -moz-transition: $mainTransition;
            -ms-transition: $mainTransition;
            -o-transition: $mainTransition;
          }
        }
      }
    }
  }

  .main {
    .title-text {
      font-size: 34px;
    }
    .galaxy {
      width: 25%;
    }
  }
}

@media screen and (max-width: 800px) {
  // Poner menu desplegable
  header {
    nav {
      display: none;
    }
  }

  .main {
    .galaxy {
      width: 70%;
    }

    .title-text {
      font-size: 24px;
    }
    .welcome {
      left: 40px;
    }
    .universe {
      right: 40px;
    }
  }

  footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  // Poner menu desplegable
  .main {
    .trabajos-container {
      .trabajos-programacion-container,
      .trabajos-diseno-container {
        .trabajos-programacion-row,
        .trabajos-diseno-row {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
          .trabajo {
            img {
              width: 85vw;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
