.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 80vh;

  @media screen and (max-width: 850px) {
    flex-direction: column;
    gap: 4rem;
  }

  .home-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 850px) {
      width: 90%;
    }

    p {
      font-weight: 100;
    }

    .title-text {
      font-family: 'Righteous', Arial, Helvetica, sans-serif;
      font-size: 3rem;
      width: 100%;
      text-align: end;
    }

    .description {
      font-family: 'Righteous', Arial, Helvetica, sans-serif;
      margin-top: 1rem;
      margin-left: auto;
      width: 90%;
      opacity: 0.9;
      text-wrap: pretty;
    }
  }

  .home-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Para que la foto cuaje mas con el fondo...
    opacity: 0.98;
    filter: brightness(0.9);

    @media screen and (max-width: 850px) {
      width: 90%;
    }

    .foto {
      width: 98%;
      mask-image: linear-gradient(black 75%, transparent);
    }
  }
}
