.trabajo {
  cursor: pointer;

  img {
    background-image: url('/assets/img//placeholder-image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    aspect-ratio: 16/9;

    border-radius: 10px;
  }
  p {
    margin: 8px 0;
  }

  &:hover {
    img {
      transition: 0.3s ease-out;
      transform: scale(1.05);
    }
  }
}
