@use '/src/styles/variables' as *;

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .projects--categories {
    margin: auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }

  .trabajos-container {
    margin-bottom: 40px;
    font-family: 'Righteous', cursive;
    color: $textColor;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin-bottom: 24px;

    @media screen and (max-width: 360px) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }
}
