@import 'variables';

.btn-menu,
.btn-category {
  color: $textInactiveColor;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  &:hover {
    color: $textColor;
    text-decoration: underline;
  }
  &:active {
    color: $textColor;
    text-decoration: underline;
  }
}

.btn-category.btn-category-active,
.btn-menu.btn-menu-active {
  color: $textColor;
  text-decoration: underline;
}

.social {
  img,
  svg {
    fill: $textInactiveColor;
    height: 1.875rem;

    g {
      fill: $textInactiveColor;
    }
  }
}
.social:hover {
  img,
  svg {
    fill: $textColor;

    g {
      fill: $textColor;
    }
  }
}
