@import 'variables';
@import 'link-tree';

.main {
  min-height: 87vh;
  margin-top: 96px;
  padding-inline: 16px;
  font-family: 'Monoton', cursive;
  color: $textColor;
  font-size: 1.5rem;
  letter-spacing: 1px;

  .section-title {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 48px;
    text-align: center;

    transition: $mainTransition;
  }

  section {
    margin-bottom: 96px;
  }

  .title-links-404 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .my-logo {
      height: 3.5rem;
    }
  }
}
