@use './variables' as *;

::-webkit-scrollbar {
  width: 9px;
  background: $secondaryColor;
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: $scrollGradient;
}
::-webkit-scrollbar-thumb {
  border: $secondaryColor 1px solid;
  background: color-mix(in srgb, #cfcfcf 60%, transparent);
  border-radius: 20px;
}
