@import '/src/styles/variables';

::-webkit-scrollbar {
  width: 10px;
  background: #3f5e60;
}
::-webkit-scrollbar-track {
  background: $scrollGradient;
}
::-webkit-scrollbar-thumb {
  border: #3f5e60 1px solid;
  background: #cfcfcf;

  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
