.about {
  /* ==================== About ==================== */
  .contenido-central {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 64px;
    width: 100%;

    .bio-photo-container {
      width: 70%;
      @media screen and (max-width: 768px) {
        width: 90%;
      }

      .bio {
        font-family: 'Righteous', cursive;
        font-size: 1.125rem;
      }
    }

    .skills-container {
      width: 70%;
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      display: flex;
      flex-direction: column;
      gap: 48px;

      h2 {
        font-weight: 100;
        word-spacing: 10px;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
        }

        gap: 80px 128px;

        .skill-section {
          display: flex;
          flex-direction: column;
          gap: 32px;
          font-family: 'Righteous', cursive;
          font-size: 1.25rem;

          .skills-group {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 32px;
          }
        }

        .wordpress-logo {
          background-color: #c0c0c0;
          padding: 2px;

          border-radius: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          -o-border-radius: 100%;
        }
      }
    }
  }
}
