.about {
  /* ==================== About ==================== */
  .contenido-central {
    width: 100%;
    margin: 0 0 64px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .bio {
      display: inline-block;
      width: 30%;
      font-family: 'Righteous', cursive;
      font-size: 18px;
    }

    .skills-container {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      h2 {
        font-weight: 100;
        word-spacing: 10px;
      }
      .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        img,
        svg {
          height: 50px;
          width: 50px;
        }
      }
    }

    .foto-start {
      display: none;
      margin-top: 32px;
      width: 70vw;
    }
    .foto-middle {
      opacity: 0.95;
      margin-top: 64px;
      width: 40%;
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
