.home {
  /* ==================== Home ==================== */
  .galaxy-title-container {
    width: 100%;
    min-height: 750px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-text {
      margin: 0 32px;
      font-size: 3rem;
      font-weight: 100;
      word-spacing: 10px;

      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }
    .universe {
      text-align: end;
    }

    // Imagen
    .foto-middle {
      pointer-events: none;
      margin: auto;
      opacity: 0.95;
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);

      width: 40%;
      @media screen and (max-width: 768px) {
        width: 60%;
      }
      @media screen and (max-width: 432px) {
        width: 70%;
      }

      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;

      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}
