.home {
  /* ==================== Home ==================== */
  .galaxy-title-container {
    width: 100%;
    min-height: 650px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-text {
      margin: 0 32px;
      font-size: 56px;
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
      @media screen and (max-width: 560px) {
        font-size: 40px;
      }
      @media screen and (max-width: 432px) {
        font-size: 32px;
      }
      font-weight: 100;
      word-spacing: 10px;
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }
    .universe {
      text-align: end;
    }

    // Imagen
    .galaxy {
      margin: auto;
      width: 40%;
      @media screen and (max-width: 768px) {
        width: 60%;
      }
      @media screen and (max-width: 432px) {
        width: 70%;
      }
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }
  }
}
