.projects {
  /* ==================== Projects ==================== */
  .trabajos-container {
    max-width: 1200px;
    margin-inline: auto;
    margin-bottom: 40px;
    font-family: 'Righteous', cursive;
    color: #fff;

    .trabajos-programacion-container,
    .trabajos-diseno-container {
      margin-bottom: 80px;

      h2 {
        font-size: 2.25rem;
        font-weight: 100;
        margin-bottom: 20px;
      }

      .trabajos-programacion-row,
      .trabajos-diseno-row {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        @media screen and (max-width: 360px) {
          grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        }
        margin-bottom: 24px;

        .trabajo {
          cursor: pointer;

          img {
            width: 100%;
            object-fit: cover;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }
          p {
            color: #e1e1e1;
            margin: 8px 0;
          }

          &:hover {
            img {
              transition: 0.3s ease-out;
              -webkit-transition: 0.3s ease-out;
              -moz-transition: 0.3s ease-out;
              -ms-transition: 0.3s ease-out;
              -o-transition: 0.3s ease-out;
              transform: scale(1.05);
              -webkit-transform: scale(1.05);
              -moz-transform: scale(1.05);
              -ms-transform: scale(1.05);
              -o-transform: scale(1.05);
            }
          }
        }
      }
    }
  }

  /* ==================== Tarjeta ==================== */
  .tarjeta-container {
    align-items: center;
    display: none;
    background-color: #00000036;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    .tarjeta {
      background: $bgGradient;
      box-shadow: 0 4px 40px rgba(255, 255, 255, 0.05);
      color: #cfcfcf;
      font-size: 1rem;
      max-height: 85%;
      overflow: auto;
      padding: 24px;
      width: 35%;
      @media screen and (max-width: 1200px) {
        width: 60%;
      }
      @media screen and (max-width: 768px) {
        width: 70%;
      }
      @media screen and (max-width: 375px) {
        width: 70%;
      }

      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;

      h3 {
        color: #e1e1e1;
        font-weight: 500;
        margin-bottom: 32px;
      }

      .tarjeta-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .tarjeta-close-btn {
          color: #e1e1e1;
          background: transparent;
          border: none;
          font-size: 1.25rem;
          cursor: pointer;
        }
      }

      .tarjeta-contenido {
        margin: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 2em;
        font-family: 'Righteous', sans-serif;
        line-height: 1.5;

        .texto-container {
          max-height: 175px;
          overflow: auto;

          &::-webkit-scrollbar {
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
          }
          &::-webkit-scrollbar-track {
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
          }
        }

        .fotos-tarjeta {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 250px;

          img {
            max-height: 350px;
            object-fit: contain;
            display: inline-block;
          }
        }

        .logos-tiendas {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 64px;
          img {
            height: 3rem;
          }
        }
      }
    }
  }
}
