.welcome {
  /* ==================== Home ==================== */
  .galaxy-title-container {
    width: 100%;
    height: 80vh;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-text {
      margin: 0 32px;
      font-size: 56px;
      font-weight: 100;
      word-spacing: 10px;
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }
    .universe {
      text-align: end;
    }

    // Imagen
    .galaxy {
      margin: auto;
      width: 40%;
      transition: $mainTransition;
      -webkit-transition: $mainTransition;
      -moz-transition: $mainTransition;
      -ms-transition: $mainTransition;
      -o-transition: $mainTransition;
    }
  }
}
