@use '/src/styles/variables' as *;

.about {
  /* ==================== About ==================== */
  .contenido-central {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 64px;
    width: 100%;
  }
}
