@import '/src/styles/variables';

.stars-bg {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.my-logo {
  height: 2.5rem;
}

.my-cv {
  background-color: $inputBackgroundColor;
  color: $secondaryColor;
  padding: 8px 16px;

  border-radius: 8px;
}
.my-cv:hover {
  text-decoration: none;
  opacity: 0.8;
}
