@import './styles/variables';
@import './styles/fonts';
@import './styles/scrollbar';

@import './styles/main';
@import './styles/buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: 'Righteous', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  @media screen and (max-width: 1081px) {
    font-size: 14px;
  }
  @media screen and (max-width: 721px) {
    font-size: 12px;
  }
}

body {
  max-width: 1200px;
  margin: auto;
  background: $secondaryColor;
  background-image: $bgGradient;
  background-repeat: no-repeat;
  background-attachment: fixed;

  hr {
    margin: 64px 0;
    border: 0;
    height: 1px;
    background: $textInactiveColor;
  }

  a {
    text-decoration: none;
    color: $textColor;
    &:hover {
      text-decoration: underline;
    }
    cursor: pointer;
  }
}
